@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

.maindiv{
    background-color:whitesmoke;
}

.div1{
    height:200px;
    background-color: white;
    background-image:linear-gradient(90deg,#43CBFF, #9708CC);
}

.para{
    text-align:center;
    font-size:35px;
    margin-bottom:80px;
    font-weight:200px;
    padding-top:60px;
    color: white;
}

/* .heading{
    text-align:left;
    font-size:35px;
    margin-bottom:80px;
    font-weight:600px;
    margin-top:40px;
    margin-left:40px;
} */

.img1, .img2, .img3, .img4{
    width:280px;
    height:240px;
    margin-top:-10px;
    cursor: pointer;
}

.images{
  display: flex;
  flex-direction: row;
}

.heading
{
    text-align:left;
    /* font-size:35px; */
    margin-bottom:80px;
    font-weight:600px;
    margin-left:40px;
    font-weight: bold;
    margin-top:40px;
   text-transform: uppercase;
   background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 40px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}


  

@media only screen  and (min-width:320px) and (max-width:374px)  {
  .images{
    display: flex;
    flex-direction: column;
 
  }

  .div1{
    height: 350px;
  }

  .heading{
    margin-top: 40px;
    font-size: 30px;
  }
}

@media only screen  and (min-width:375px) and (max-width:424px){
  .images{
    display: flex;
    flex-direction: column;
  }

  .div1{
    height: 300px;
  }

  .img1, .img2, .img3, .img4{
    margin-left: 50px;
  }
}

@media only screen  and (min-width:425px) and (max-width:767px){
  .div1{
    height: 230px;
  }

  .para{
    font-size: 30px;
  }

  .heading{
    font-size: 30px;
    text-align: center;  
    margin-left: 90px;
  }
}