.main{
    display: flex;
    flex-direction: row;
    margin: 30px;
    padding-top: 3rem;

}
/* .img{
    margin-left: 65px;
    margin-top: 40px;
} */
.div1, .div2{
    display: flex;
    flex-direction: column; 
}

.div3, .div4{
    display: flex;
    flex-direction: column;
}

.heading{
    font-size: 50px;
    font-weight: 800;
    margin-top: 50px;
    background: linear-gradient( var(--gradient-orientation, 99deg), #df335f, #e97a54 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 55px;
}

.div1{
    margin-right: 50px;
    margin-left: 70px;
    width: 40%;
}

.div2{
    margin: 50px;
    width: 60%;
    margin-top: 60px;
    /* margin-left: 130px; */
}

.div3{
    margin-right: 50px;
    /* margin-left: 80px; */
    width: 60%;
    margin-top: 60px;
}

.div4{
    margin: 50px;
    width: 40%;
    margin-top: -13px;
    margin-right: 50px;
}

.head1, .head2, .head3{
    font-size: 30px;
    font-weight: 600;
    margin-left: 30px;
}

.head2, .head3{
    margin-top: 30px;
}

.para{
    font-size: 20px;
    font-weight: 400;
    margin: 30px;
    margin-top: 12px;
    /* margin-left: 30px;
    margin-bottom: 30px; */

}

.no{
    color: white;
}

.no1{
  left: 99%;
  margin-left: -15px;
  color: white;
}

.border1{
    border-left-width: 4px;
}

.border2{
    border-right-width: 4px;
}

.topic1{
    background: linear-gradient(99deg, #df335f, #e97a54);
    color: white;
    font-size: 23px;
}

.topic2{
    background: linear-gradient(99deg, #9d73e1, #f596e1);
    color: white;
    font-size: 23px;
}

.topic3{
    /* background: linear-gradient(to right, #FF8008 0%, #FFC837 51%, #FF8008 100%); */
    background: linear-gradient(99deg, #f7bd15, #ffbf04 );
    color: white;
    font-size: 23px;
}


.topic4{
  background: linear-gradient(99deg, #df335f, #e97a54);
  color: white;
    font-size: 23px;
    margin-right: 15px;
    /* margin-left: 20px; */
}

.topic5{
    background: linear-gradient(99deg, #5474ED, #1BB8FC);
    color: white;
    font-size: 25px;
    margin-right: 15px;
    /* margin-left: 20px; */
}


.topic6{
    color: white;
    font-size: 25px;
    margin-right: 15px;
    /* margin-left: 20px; */
    background: linear-gradient(315deg, rgb(59, 183, 143) 0%, rgb(11, 171, 100) 74%);
    
}

.subtopic4, .subtopic5, .subtopic6{
    color: white;
    font-size: 18px;
}

.icon1{
    margin-top: -30px;
}

.sci{
    margin-left: 96px;
    margin-top: 50px;
}

.sci_heading{
    font-size: 50px;
    font-weight: 800;
    margin-top: 50px;
    background: linear-gradient( var(--gradient-orientation, 99deg), #ff3891, #ffbf04 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 55px;
}



/* html, body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
  }
  body {
    background: #25303B;
  } */
  section#timeline {
    width: 80%;
    margin: 20px auto;
    position: relative;
  }
  section#timeline:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    margin: 0 0 0 -1px;
    width: 2px;
    height: 100%;
    background: rgba(255,255,255,0.2);
  }
  section#timeline article {
    width: 100%;
    margin: 0 0 20px 0;
    position: relative;
  }
  section#timeline article:after {
    content: '';
    display: block;
    clear: both;
  }
  section#timeline article div.inner {
    width: 40%;
    float: left;
    margin: 5px 0 0 0;
    border-radius: 6px;
  }
  section#timeline article div.inner span.date {
    display: block;
    width: 60px;
    height: 50px;
    padding: 5px 0;
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0 0 0 -32px;
    border-radius: 100%;
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
    background: #25303B;
    color: rgba(255,255,255,0.5);
    border: 2px solid rgba(255,255,255,0.2);
    box-shadow: 0 0 0 7px #25303B;
  }
  section#timeline article div.inner span.date span {
    display: block;
    text-align: center;
  }
  section#timeline article div.inner span.date span.day {
    font-size: 10px;
  }
  section#timeline article div.inner span.date span.month {
    font-size: 18px;
  }
  section#timeline article div.inner span.date span.year {
    font-size: 10px;
  }
  section#timeline article div.inner h2 {
    padding: 15px;
    margin: 0;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: -1px;
    border-radius: 6px 6px 0 0;
    position: relative;
  }
  section#timeline article div.inner h2:after {
    content: '';
    position: absolute;
    top: 20px;
    right: -5px;
      width: 10px; 
      height: 10px;
    -webkit-transform: rotate(-45deg);
  }
  section#timeline article div.inner p {
    padding: 15px;
    margin: 0;
    font-size: 14px;
    background: #fff;
    color: #656565;
    border-radius: 0 0 6px 6px;
  }
  section#timeline article:nth-child(2n+2) div.inner {
    float: right;
  }
  section#timeline article:nth-child(2n+2) div.inner h2:after {
    left: -5px;
  }
  section#timeline article:nth-child(1) div.inner h2 {
    background: #e74c3c;
  }
  section#timeline article:nth-child(1) div.inner h2:after {
    background: #e74c3c;
  }
  section#timeline article:nth-child(2) div.inner h2 {
    background: #2ecc71;
  }
  section#timeline article:nth-child(2) div.inner h2:after {
    background: #2ecc71;
  }
  section#timeline article:nth-child(3) div.inner h2 {
    background: #e67e22;
  }
  section#timeline article:nth-child(3) div.inner h2:after {
    background: #e67e22;
  }
  section#timeline article:nth-child(4) div.inner h2 {
    background: #1abc9c;
  }
  section#timeline article:nth-child(4) div.inner h2:after {
    background: #1abc9c;
  }
  section#timeline article:nth-child(5) div.inner h2 {
    background: #9b59b6;
  }
  section#timeline article:nth-child(5) div.inner h2:after {
    background: #9b59b6;
  }
  


  @media (min-width: 280px) and (max-width: 450px){

  .div1{
    margin-right: 0px;
    margin-left: 0px;
    width: auto;
}
.div1, .div2{
  display: block;
  padding:26px ;
      margin: 0px;
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
}
.main{
  display: flex;
  width: 95vw;

    margin: 0px;
    flex-direction: column-reverse;
  margin: 0px;
  padding-top: 0px;

}
.div3{
  margin-right: 0px;
  margin-left: 0px;
  width: 100%;
  margin-top: 0px;
  padding: 16px;

}
.div4{
  margin: 0px;
  width: 100%;
  margin-top: 0px;
  margin-right: 0px;
}

  }